/*
 * FILE:          style.css
 * PROJECT:       Number Guessing Game
 * PROGRAMMER:    Salma Rageh
 * FIRST VERSION: 2023-11-12
 * DESCRIPTION:   This contains the css style for the pages
 */

body {
    background-color: #B6DBF7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, serif
}

h1 {
    text-align: center; 
    font-size: 50px;
    color:black;
}

.game-container {
    background-color: white; 
    border: 2px solid black; 
    padding: 20px;
    text-align: center;
}


.win {
    background-color: #C3E6CB; 
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.win-container {
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    font-family: Georgia, serif; 
    font-weight:bold;
}

.validation-message {
    display: block;
    text-align: center;
    color: red;
    font-family: Georgia, serif;
    background-color:ghostwhite;
}
